/*************************************/
/* General initialization */
/*************************************/

:root {
  --primary-color-green: hsl(171, 66%, 44%);
  --secondary-color-blue: hsl(233, 100%, 69%);
  --primary-neutral-color: hsl(210, 10%, 33%);
  --secondary-neutral-color: hsl(201, 11%, 66%);
  --bg-color-primary: rgba(159, 171, 178, 0.15);
  --bg-color-secondary: rgba(76, 84, 93, 0.15);
  --btn-green-hover: #0c530c;
  --btn-blue-hover: #0b7285;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--primary-neutral-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*************************************/
/* Typography General Elements */
/*************************************/
.heading-primary,
.heading-secondary,
.heading-tertiary {
  text-align: center;
  letter-spacing: -0.5px;
  color: var(--primary-neutral-color);
  line-height: 1.05;
}
.heading-primary {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  font-weight: 700;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

/*************************************/
/* General Reusables components */
/*************************************/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  column-gap: 4.8rem;
  row-gap: 9.6rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
}
.grid-5-rows {
  grid-template-rows: repeat(5, auto);
  align-items: center;
  justify-items: center;
}

.mr-bt {
  margin-bottom: 2.4rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn-green:link,
.btn-green:visited {
  color: #fff;
  background-color: var(--primary-color-green);
}

.btn-green:hover,
.btn-green:active {
  background-color: var(--btn-green-hover);
}

.btn-blue:link,
.btn-blue:visited {
  color: #fff;
  background-color: var(--secondary-color-blue);
}

.btn-blue:hover,
.btn-blue:active {
  background-color: var(--btn-blue-hover);
}
