/*************************************/
/* BELOW 1344px (Smaller desktops) */
/*************************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .btn:link,
  .btn:visited {
    font-size: 1.8rem;
  }
}

/*************************************/
/* BELOW 1200px (Landscape Tablets) */
/*************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .customers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 2.4rem;
    row-gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
  }
}

/*************************************/
/* BELOW 900px (Tablets) */
/*************************************/

@media (max-width: 56em) {
  html {
    font-size: 50%;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: #f8f9fa;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .heading-secondary {
    font-size: 2.4rem;
  }

  .heading-tertiary {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .grid-footer {
    grid-template-columns: 1fr;
  }
}

/*************************************/
/* BELOW 600px (Mobile) */
/*************************************/
@media (max-width: 37em) {
  html {
    font-size: 43.75%;
  }

  .btn:link,
  .btn:visited {
    font-size: 1.4rem;
  }

  .btn-green:hover,
  .btn-green:active {
    background-color: var(--btn-green-hover);
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
  }

  .btn-blue:hover,
  .btn-blue:active {
    background-color: var(--btn-blue-hover);
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
  }

  .btn-hero-container {
    flex-direction: column;
    gap: 3.2rem;
  }

  .section-features,
  .section-customers,
  .section-download,
  .footer {
    padding: 4.8rem 0;
  }

  .section-features .container .grid.grid-5-rows .grid.grid-3-cols {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .features-container-sub {
    gap: 0;
  }

  .customers-container {
    grid-template-columns: 1fr;
  }

  .logo-customer {
    width: 50%;
  }

  .btn-download-container {
    flex-direction: column;
    gap: 3.2rem;
  }

  .mr-bt {
    margin-bottom: 4.8rem;
  }

  .hero-logo {
    width: 50%;
  }
}
