/*************************************/
/* Section Hero */
/*************************************/

.section-hero {
  background-image: linear-gradient(
      to right bottom,
      var(--bg-color-primary),
      var(--bg-color-secondary)
    ),
    url("../images/bg-header-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4.8rem 0 9.6rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 4.8rem;
  align-items: center;
  justify-items: center;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
  text-align: center;
  color: var(--primary-neutral-color);
}

.btn-hero-container {
  display: flex;
  align-self: center;
  gap: 2.4rem;
}
